{% set title = "Logos page" %}
{% extends "layouts/master.njk" %}

{% block content %}
	<div id="watch-example">
  <p>
    Задайте вопрос, на который можно ответить «да» или «нет»:
    <input v-model="question">
  </p>
  <p>{{answer}}</p>
  <div class="answerImg" v-bind:style="{ 'background-image': 'url(' + img + ')'}"></div>
</div>
{% endblock %}